# Generate .env with: python -m scripts.bootstrap_env
POSTGRES_PASSWORD=
FLEET_API_PASSWORD=
FLEET_STREAM_PASSWORD=
FLEET_BATCH_PASSWORD=
AIRFLOW_DB_PASSWORD=
AIRFLOW_ADMIN_PASSWORD=
AIRFLOW_SECRET_KEY=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_APP_ACCESS_KEY=
MINIO_APP_SECRET_KEY=
GRAFANA_PASSWORD=
API_PORT=8001
AIRFLOW_PORT=8080
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
SIM_DAY_SECONDS=300
EVENT_INTERVAL_SECONDS=2
VEHICLE_COUNT=12
NO_DATA_SECONDS=120
DQ_FAILURE_THRESHOLD=0.05
MAX_CHANGED_DATES_PER_RUN=5
